<head>

  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="{{ page.site-title | default: site.title }} : {{ page.site-description | default: site.description }}">

  <!-- Milligram CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/assets/css/style.css">

  <title>{{ page.meta-title | default: page.site-title | default: site.title }}</title>

  <!-- TODO: Add favicons and other meta information -->
</head>
