<header>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Michelle Miller</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="http://chellimiller.blogspot.com/">Blog</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
					 aria-haspopup="true" aria-expanded="false">
						Find Me On..
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item">
								<a class="nav-link" href="https://github.com/chellimiller/">GitHub</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="https://www.linkedin.com/in/chellicmiller/">LinkedIn</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="https://codefights.com/profile/chelli_m">CodeFights</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="https://www.instructables.com/member/chellicmiller/">Instructables</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="https://stackoverflow.com/users/story/6832300">Stacked
									Overflow</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="https://www.freelancer.com/u/ChelliMiller">Freelancer</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</nav>
</header>