:root {
  --color--neutral-00: #000000;
  --color--neutral-01: #030203;
  --color--neutral-03: #080709;
  --color--neutral-05: #0d0c0f;
  --color--neutral-10: #1a181e;
  --color--neutral-15: #27242d;
  --color--neutral-20: #34303c;
  --color--neutral-25: #413c4c;
  --color--neutral-30: #4e485b;
  --color--neutral-35: #5b546a;
  --color--neutral-40: #686079;
  --color--neutral-45: #736b85;
  --color--neutral-50: #7a708f;
  --color--neutral-55: #8f86a1;
  --color--neutral-60: #988fae;
  --color--neutral-65: #a8a1b6;
  --color--neutral-70: #b4aec1;
  --color--neutral-75: #c1bccb;
  --color--neutral-80: #cdc9d5;
  --color--neutral-85: #dad7e0;
  --color--neutral-90: #e6e4ea;
  --color--neutral-95: #f3f2f5;
  --color--neutral-97: #f8f7f9;
  --color--neutral-99: #fdfcfd;
  --color--neutral-100: #ffffff;

  --filter--neutral-00: invert(0%);
  --filter--neutral-10: invert(7%) sepia(18%) saturate(583%) hue-rotate(219deg)
    brightness(100%) contrast(94%);
  --filter--neutral-20: invert(18%) sepia(8%) saturate(1100%) hue-rotate(218deg)
    brightness(89%) contrast(90%);
  --filter--neutral-30: invert(28%) sepia(24%) saturate(370%) hue-rotate(218deg)
    brightness(93%) contrast(92%);
  --filter--neutral-40: invert(42%) sepia(5%) saturate(1463%) hue-rotate(218deg)
    brightness(91%) contrast(95%);
  --filter--neutral-50: invert(48%) sepia(54%) saturate(191%) hue-rotate(218deg)
    brightness(84%) contrast(82%);
  --filter--neutral-60: invert(69%) sepia(18%) saturate(395%) hue-rotate(216deg)
    brightness(82%) contrast(85%);
  --filter--neutral-70: invert(68%) sepia(9%) saturate(365%) hue-rotate(218deg)
    brightness(102%) contrast(91%);
  --filter--neutral-80: invert(95%) sepia(6%) saturate(948%) hue-rotate(197deg)
    brightness(86%) contrast(92%);
  --filter--neutral-90: invert(98%) sepia(2%) saturate(1002%) hue-rotate(199deg)
    brightness(94%) contrast(95%);
  --filter--neutral-100: invert(100%);
}

:root {
  --scrollbar--size: 0.5rem;
  --scrollbar--thumb-radius: 0.5rem;
  --scrollbar--track-radius: 0rem;

  --font-family: "Roboto", sans-serif;
  --font-size: 1.25rem;
  --font-weight: 400;

  --display--font-weight: 300;
  --display--font-size: 3rem;
  --display--font-color: var(--color--neutral-99);
  --display--background: var(--color--neutral-25);
  --display--border-radius: 30% 70% 27% 73% / 82% 38% 62% 18%;
  --display--padding: 1.5rem;

  --header--background: transparent;
  --header--font-size: 1rem;
  --header--height: 4rem;
  --header--overlay--background: var(--color--background);
  --header--overlay--opacity: 0.75;
  --header--padding: 0.5rem 1rem;
  --header--title--font-size: 1.5rem;

  --m--sm: 0.5rem;

  --p--sm: 0.5rem;
  --p--md: 1rem;
  --p--lg: 1.5rem;

  --color--background: var(--color--neutral-95);

  --color--text: var(--color--neutral-05);

  --color--link: var(--color--neutral-30);
  --color--link--hover: var(--color--neutral-50);

  --color--icon: var(--filter--neutral-30);
  --color--icon--hover: var(--filter--neutral-50);

  --scrollbar--thumb-color: var(--color--neutral-80);
  --scrollbar--thumb-color--hover: var(--color--neutral-70);
  --scrollbar--thumb-color--active: var(--color--neutral-60);
  --scrollbar--track-color: var(--color--neutral-90);
  --scrollbar--track-color--hover: var(--scrollbar--track-color);
  --scrollbar--track-color--active: var(--color--neutral-85);
}

@media only screen and (prefers-color-scheme: dark) {
  :root {
    --color--background: var(--color--neutral-20);
    --header--overlay--background: var(--color--background);

    --color--text: var(--color--neutral-99);

    --display--font-color: var(--color--neutral-30);
    --display--background: var(--color--neutral-80);

    --color--link: var(--color--neutral-85);
    --color--link--hover: var(--color--neutral-100);

    --color--icon: var(--filter--neutral-80);
    --color--icon--hover: var(--filter--neutral-100);

    --scrollbar--thumb-color: var(--color--neutral-50);
    --scrollbar--thumb-color--hover: var(--color--neutral-60);
    --scrollbar--thumb-color--active: var(--color--neutral-40);
    --scrollbar--track-color: var(--color--neutral-30);
    --scrollbar--track-color--hover: var(--color--neutral-35);
    --scrollbar--track-color--active: var(--color--neutral-25);
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar--thumb-color) var(--scrollbar--track-color);

  &::-webkit-scrollbar {
    height: var(--scrollbar--size);
    width: var(--scrollbar--size);
  }

  &::-webkit-scrollbar-track {
    border-radius: var(--scrollbar--track-radius);
    background-color: var(--scrollbar--track-color);

    &:hover {
      background-color: var(--scrollbar--track-color--hover);
    }

    &:active {
      background-color: var(--scrollbar--track-color--active);
    }
  }

  &::-webkit-scrollbar-thumb {
    border-radius: var(--scrollbar--thumb-radius);
    background-color: var(--scrollbar--thumb-color);

    &:hover {
      background-color: var(--scrollbar--thumb-color--hover);
    }

    &:active {
      background-color: var(--scrollbar--thumb-color--active);
    }
  }
}

a,
[role="link"] {
  color: var(--color--link);
  background: transparent;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: var(--color--link--hover);

    --color--icon: var(--color--icon--hover);
  }

  * {
    cursor: pointer;
  }
}

body {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background: var(--color--background);

  color: var(--color--text);

  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);

  & > div {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-right: var(--scrollbar--size);

  z-index: 100;

  font-size: var(--header--font-size);

  .container {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background: var(--header--background);
    padding: var(--header--padding);
    min-height: var(--header--height);
    box-sizing: border-box;

    z-index: 100;

    &::before {
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: " ";
      background: var(--header--overlay--background);
      opacity: var(--header--overlay--opacity);
    }
  }

  .title {
    flex-grow: 10;
  }
}

main {
  padding-top: var(--header--height);

  max-width: 100vw;
  box-sizing: border-box;
  flex-grow: 10;
}

footer {
  display: none;
}

.title {
  font-size: var(--header--title--font-size);
  margin: var(--m--sm) 0;
}

.social {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;

  a {
    display: inline-flex;
    flex-flow: row nowrap;
  }

  label {
    margin-inline-start: var(--m--sm);
    line-height: 1;
  }

  & > * {
    margin-inline: var(--m--sm);
  }
}

.icon {
  height: 1em;
  width: 1em;

  img {
    filter: var(--color--icon);
  }
}

.about {
  padding: var(--p--lg) var(--p--md);
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row-reverse wrap;

  .overview {
    height: 75vh;
    max-height: 90vw;
    position: relative;

    img {
      height: 100%;
      width: auto;
      border-radius: 83% 17% 52% 48% / 28% 65% 35% 72%;
    }

    h1 {
      position: absolute;
      display: inline-block;
      width: max-content;
      bottom: var(--m--sm);
      left: 0;
      color: var(--display--font-color);
      margin: 0;
      padding: var(--display--padding);
      font-weight: var(--display--font-weight);
      font-size: var(--display--font-size);
      border-radius: var(--display--border-radius);
      background: var(--display--background);
    }
  }

  .content {
    padding: var(--p--md);
    max-width: 45%;
  }
}

@media only screen and (max-width: 400px) {
  .about .overview h1 {
    width: min-content;
    bottom: calc(var(--m--sm) * -2);
    --display--font-size: 1.25rem;
  }
}

@media only screen and (max-width: 600px) {
  :root {
    --display--font-size: 2rem;
  }
}

@media only screen and (max-width: 700px) {
  .social label {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .about .content {
    max-width: 70vh;
  }
}
