---
---

@import "{{ site.theme }}";

body {
	background-color:  #FF66dd;
}

#hwrap {
	background-color:  #11ff44;
	padding-top:       15%;
	padding-left:      5%;
	padding-right:     5%;
}

#site-title {
	width:             25%;
	float:             left;
	background-color:  #111434;
}

#site-nav {
	width:             75%;
	background-color:  #ccff99;
}
#site-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#navigation li {
    float: left;
}
#navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#body-wrapper {
	background-color:  #4422ff;
	margin:            5%;
}
