---
---

@import "{{ site.theme }}";

body {
	background-color:  #FF66dd;
}

#hwrap {
	background-color:  #11ff44;
	padding-top:       10%;
	padding-left:      5%;
	padding-right:     5%;
}

#site-title {
	background-color:  #111434;
	padding:           1%;
	text-align:        center;
}

#site-nav {
	width:             100%;
	background-color:  #ffffff;
}
#site-nav ul {
	list-style-type:   none;
	margin:            0;
	padding:           0;
	overflow:          hidden;
}
#site-nav li {
	float:             left;
}
#site-nav li a {
	display:           block;
	color:             #000000;
	text-align:        center;
	padding:           1%;
	text-decoration:   none;
}

#body-wrapper {
	background-color:  #4422ff;
	margin:            5%;
	margin-top:        2%;
}
