---
---

@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');

/* Base Settings and Browser Support */
body {
	font-size:           calc(12px + 1vh);
	position:            fixed;
	left:                0;
	right:               0;
	top:                 0;
	bottom:              0;
	margin:              0;
	padding:             0;
	min-height:          29em;
	min-width:           33em;
} a {
	color:               inherit;
	text-decoration:     none;
} header, nav, main, footer {
	display:             block;
}

/* Background and Colors */
body {
	background:          #000000 url("bg.png") top left fixed;
	background-size:     cover;
	background-repeat:   no-repeat;
	color:               #FFFFFF;
} header nav, main {
	background:          rgba(0,0,0,.9);
} footer, main, header nav a {
	border-left:        .15em solid #FF0000;
} header nav a:hover {
	color:               #FF0000;
}

/* Font */
body {
	font-family: 'Droid Sans Mono', monospace;
	text-align:  left;
} header {
	text-align:          center;
} main {
	line-height:         1.5;
} main h1 {
	font-size:           2.5em;
} footer a:hover {
	text-decoration:     underline;
}

/* Display, Positioning, Padding, and Margins */
#title {
	visibility:          hidden;
} header, nav, main, footer {
	position:            absolute;
} header, nav {
	width:               100%;
	height:              auto;
	top:                 0;
	left:                0;
} header nav a {
	display:             inline-block;
	padding:             .5em .25em;
	margin:              0 2%;
} main {
	width:               50%;
	max-width:           30em;
	padding:             .5em;
	padding-left:        1em;
	right:               1em;
	bottom:              1em;
} footer {
	padding:             .15em;
	left:                1em;
	bottom:              1em;
}
