---
layout: default
---
<style>
.chemil-about {
	width: 100%;
	display: block;
} .chemil-about div {
	width: 80%;
	margin: 0% 10%;
	text-align: center;
} .chemil-about img {
	vertical-align: middle;
	width: 40%;
	max-width: 15em;
	height: auto;
} .chemil-about span {
	display: inline-block;
	width: 40%;
	max-width: 15em;
	margin: 2.5%;
} #main-social {
	width: 100%;
	display: block;
	text-align: center;
	margin: 2em;
} #main-social span {
	display: inline-block;
	color: #E80017;
	font-size: 2em;
	margin-bottom: .5em;
	font-weight: bold;
} #main-social a {
	color: #FFFFFF;
	background: #000000;
	padding: .5em;
	margin: .25em;
	display: inline-block;
} #main-social a:hover {
	border-left: .25em solid #E80017;
	padding: .5em;
	margin: .25em;
	margin-left: 0;
}
</style>
<section class="chemil-about">
	<div class="center">
		<img src="http://pangoli.com/photos/profile.jpg" /><br />
		<span>{{ content }}</span>
	</div>
</section>
<nav id="main-social"><span>Find Me On:</span> <br /> {% include nav-social.html %}</nav>
